.user-png{
    width: 30px;
    height: 30px;
    margin: auto;
}

.navbar-brand{
    color: rgb(235, 154, 79);
    font-size: 30px;
    font-weight: bold;
}

.btn-nav{
    background-color: rgb(235, 154, 79);
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
}